@import "tailwindcss";

:root {
  --primary: #E32934;
  --primaryLight: #e3293528;
  --secondary: #242424;
  --secondaryLight: #f2f4ff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primaryLight: var(--primaryLight);
  --color-secondary: var(--secondary);
  --color-secondaryLight: var(--secondaryLight);
}

