@import "tailwindcss";

:root {
  --primary: #E32934;
  --primaryDark: #EF6078;
  --primaryLight: #FFF5F7;
  --secondary: #222156;
  --secondaryLight: #F4F4FF;
  --gray: #404040;
  --grayLight: #F8F8F8;
  --grayDark: #252525;
  --font-creato: "CreatoDB";
}

@theme inline {
  --color-primary: var(--primary);
  --color-primaryDark: var(--primaryDark);
  --color-primaryLight: var(--primaryLight);
  --color-secondary: var(--secondary);
  --color-secondaryLight: var(--secondaryLight);
  --color-gray: var(--gray);
  --color-grayLight: var(--grayLight);
  --color-grayDark: var(--grayDark);
  
  /*  */
  --default-font-family: var(--font-creato), sans-serif;
}

/* html {
  scroll-behavior: smooth;
} */


@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@theme {
  /* Remove default rem-based breakpoints */
  --breakpoint-*: initial;

  /* Define your custom breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xs: 480px;
  --breakpoint-xxs: 360px;
  --breakpoint-2xl: initial;

  /* Reset default container sizes */
  --container-*: initial;

  /* Set container max widths */
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  /* Leave 2xl unbounded so it stops at xl */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  overflow-x: hidden !important;
}

.secPadding {
  @apply md:py-10 sm:py-8 py-6;
}

.float-labels {
  transition-property: top, font-size, line-height;
  transition-duration: 150ms;
  pointer-events: none;
  transition-timing-function: linear;
}
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  height: 5px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b4b7bd;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}
.arrow {
  display: none !important;
  opacity: 0 !important;
}